@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/base" as *;
@use "../base/reset" as *;
@use "../components/tags" as *;
@use "../components/nav-buttons" as *;

.library-checkbox {
    display: none;

    &:checked+.aside {
        width: 60px !important;
        max-width: 60px !important;
        padding: 11px 0;

        .aside__nav__list {
            .nav-item {
                display: none !important;
            }

            .library-item {
                filter: brightness(0.01) invert(100);
            }

            li::after {
                display: none !important;
            }

            li {
                width: 60px;
                padding: 0 !important;
                @include flex-align(center, center);
            }
        }
    }
}

.aside {
    background-color: $dark-bg;
    max-width: 259px;
    width: 259px;
    height: 957px;
    padding: 11px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;

    &__nav {
        width: 248px;
        height: 935px;

    }

    @media (max-width: 390px) {
        display: none;
    }
}

// git checkout -b feature/aside-navbar