@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/base" as *;
@use "../base/reset" as *;

.library-checkbox {
  display: none;

  &:checked + .aside {
    width: 60px !important;
    max-width: 60px !important;
    padding: 11px 0;

    .aside__nav__list {
      .nav-item {
        display: none !important;
      }
      .library-item {
        filter: brightness(0.01) invert(100);
      }
      li::after {
        display: none !important;
      }

      li {
        width: 60px;
        padding: 0 !important;
        @include flex-align(center, center);
      }
    }
  }
}
.aside {
  background-color: $dark-bg;
  max-width: 259px;
  width: 259px;
  height: 957px;
  padding: 11px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  &__nav {
    width: 248px;
    height: 935px;

    &__list {
      width: 100%;
      height: auto;

      > li:nth-child(2),
      > li:nth-child(3) {
        @include flex-align(space-between, center);

        > div {
          @include flex-align();
        }
      }
      > li {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        @include flex-align(start, center);
        color: rgba(137, 137, 137, 1);
        cursor: pointer;
        background-color: transparent;
        transition: all 0.3s ease;
        &:hover {
          background-color: rgba(32, 32, 32, 1);
          color: white;
        }
        > a {
          > figure {
            @include flex-align();
            .pins {
              width: 45px;
              height: 45px;
              padding: 8.42px 0 8.42px 0;
            }
            img {
              width: 40.41px;
              height: 40.41px;
              padding: 8.42px;
              &:hover {
                transform: scale(1.2);
                filter: brightness(1.5) invert(1);
              }
            }
            figcaption {
              font-size: 14px;
              font-weight: 400;
              letter-spacing: 3%;
              line-height: 100%;
              padding: 8.42px;
              color: #898989;

              &:hover {
                transform: scale(1.2);
                filter: brightness(1.5);
                color: #ffffff;
              }
            }
          }
        }
      }

      > li:nth-child(2),
      > li:nth-child(3) {
        &::after {
          content: ">";
          font-size: 18px;
          color: #898989;
          font-weight: 700;
          margin-right: 15px;
          display: inline-block;
        }

        &:hover::after {
          transform: scale(1.2);
          filter: brightness(1.5) invert(1);
        }
      }
    }
  }

  @media (max-width: 390px) {
    display: none;
  }
}

// git checkout -b feature/aside-navbar
