@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/base" as *;
@use "../base/reset" as *;
@use "../components/tags" as *;
@use "../components/nav-buttons" as *;

.library-checkbox {
    display: none;

    &:checked+.aside {
        width: 60px;
        max-width: 60px;
        padding: 11px 0;

        .aside__nav__list {
            .nav-item {
                opacity: 0;
                max-width: 0;
                overflow: hidden;
            }

            .library-item {
                filter: brightness(0.01) invert(100);
            }

            li::after {
                display: none;
            }

            li a {
                padding: 10px;
                justify-content: center;
            }

            li a figure {
                justify-content: center;
                gap: 0;
            }
        }
    }
}

.aside {
    background-color: $dark-bg;
    max-width: 259px;
    width: 259px;
    height: 957px;
    padding: 11px;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                max-width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                padding 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;

    &__nav {
        width: 100%;
        height: 935px;
    }

    @media (max-width: 390px) {
        display: none;
    }
}

// git checkout -b feature/aside-navbar