@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/base" as *;
@use "../base/reset" as *;

// Section part style dropdown
.main-content__home-page-section {
  max-width: 1491px;
  width: 1491px;
  height: auto;
  > nav {
    width: 1488px;
    height: 59px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > ul {
      width: 342px;
      height: 35px;
      margin: 12px 0 12px 25px;
      display: flex;
      align-items: center;
      > li {
        font-size: 14px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 3%;
        margin-right: 10px;
        border-radius: 8px;
        color: #e0e0e0;
        background-color: #202020;
        text-align: center;
        cursor: pointer;
      }
      > li:nth-child(1) {
        width: 48px;
        background-color: #e0e0e0;
        color: #111111;
      }
      > li:nth-child(2) {
        width: 68px;
      }
      > li:nth-child(3) {
        width: 89px;
      }
      > li:nth-child(4) {
        width: 107px;
        margin: 0;
      }
    }
    img {
      width: 40.41px;
      height: 40.41px;
      cursor: pointer;
    }
  }
  // Card Section Style
  .home-page-section__cards {
    max-width: 1440px;
    width: 1440px;
    height: 311.41px;
    margin-left: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    div {
      width: 100%;
      height: auto;
      h2 {
        display: inline-flex;
        align-items: center;
        height: 40.41px;
        font-size: 20px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 3%;
        color: #e0e0e0;
      }
      button {
        width: 40.41px;
        height: 40.41px;
        float: right;
        margin-left: 5px;
        img {
          width: 23.57px;
          height: 20.21px;
          filter: brightness(0.1) invert(10);
        }
      }
      button:nth-child(4) {
        img {
          filter: brightness(0) invert(0.4);
        }
      }
    }
    // Article Section Style
    article {
      width: 170px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      > div:nth-child(1) {
        width: 133px;
        height: 3px;
        border-top-left-radius: 7.25px;
        border-top-right-radius: 7.25px;
        margin-bottom: 1px;
        background-color: rgba(206, 110, 154, 0.15);
      }
      > div:nth-child(2) {
        width: 154px;
        height: 6px;
        margin-bottom: 1px;
        border-top-left-radius: 7.25px;
        border-top-right-radius: 7.25px;
        background-color: rgba(206, 110, 154, 0.3);
      }
      > figure {
        > img {
          width: 170px;
          height: 170px;
          border-radius: 7.25px;
          margin-bottom: 6.5px;
          display: flex;
          flex-direction: column;
        }
        figcaption:nth-child(2) {
          font-size: 14px;
          font-weight: 500;
          line-height: 100%;
          letter-spacing: 3%;
          color: #e0e0e0;
          display: inline-block;
        }
        span:nth-child(3) {
          font-size: 14px;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: 3%;
          color: #ce6e9a;
          display: inline;
          float: right;
        }
        p:nth-child(4) {
          margin-top: 8px;
          font-size: 12px;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: 3%;
          color: #898989;
        }
      }
    }
    article:nth-child(3) {
      > div:nth-child(1) {
        background-color: rgba(149, 230, 211, 0.15);
      }
      > div:nth-child(2) {
        background-color: rgba(149, 230, 211, 0.3);
      }
      span:nth-child(3) {
        color: #95e6d3;
      }
    }
    article:nth-child(4) {
      > div:nth-child(1) {
        background-color: rgba(244, 184, 189, 0.15);
      }
      > div:nth-child(2) {
        background-color: rgba(244, 184, 189, 0.3);
      }
      span:nth-child(3) {
        color: #f4b8bd;
      }
    }
    article:nth-child(5) {
      > div:nth-child(1) {
        background-color: rgba(195, 231, 183, 0.15);
      }
      > div:nth-child(2) {
        background-color: rgba(195, 231, 183, 0.3);
      }
      span:nth-child(3) {
        color: #c3e7b7;
      }
    }
    article:nth-child(6) {
      > div:nth-child(1) {
        background-color: rgba(243, 127, 166, 0.15);
      }
      > div:nth-child(2) {
        background-color: rgba(243, 127, 166, 0.3);
      }
      span:nth-child(3) {
        color: #f37fa6;
      }
    }
    article:nth-child(7) {
      > div:nth-child(1) {
        background-color: rgba(160, 190, 200, 0.15);
      }
      > div:nth-child(2) {
        background-color: rgba(160, 190, 200, 0.3);
      }
      span:nth-child(3) {
        color: #a0bec8;
      }
    }
    article:nth-child(8) {
      > div:nth-child(1) {
        background-color: rgba(253, 216, 125, 0.15);
      }
      > div:nth-child(2) {
        background-color: rgba(253, 216, 125, 0.3);
      }
      span:nth-child(3) {
        color: #fdd87d;
      }
    }
    article:nth-child(9) {
      > div:nth-child(1) {
        background-color: rgba(212, 178, 169, 0.15);
      }
      > div:nth-child(2) {
        background-color: rgba(212, 178, 169, 0.3);
      }
      span:nth-child(3) {
        color: #d4b2a9;
      }
    }
  }
}
