@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.recent-library {
  max-width: 100%;
  max-height: 100%;
}

// Fixed Header Container
.fixed-container-77 {
  position: static;
  width: 100%;
  height: 62px;
  background-color: rgba(6, 6, 6, 0.8); // 060606 with 80% opacity
  border: 1px solid #000000; // Stroke
  box-sizing: border-box; // position: inside equivalent
  border-radius: 5px 10px 5px 10px; // Mixed example
  display: flex;
  align-items: center;
  justify-content: center; // Centers 104 inside 77
}

// Inner Wrapper 104
.inner-wrapper-104 {
  width: 100%;
  height: 40.41px;
  display: flex;
  justify-content: space-between; // gap: auto equivalent
  align-items: center;
  padding: 0;

  // Left Group
  .left-group-106 {
    width: 413.05px;
    height: 40.41px;
    display: flex;
    gap: 35px;
    align-items: center;

    // Block 187
    .icons-block-187 {
      width: 90.82px;
      height: 40.41px;
      display: flex;
      gap: 10px;
      overflow: hidden; // clip content

      .icon {
        width: 40.41px;
        height: 40.41px;
        border-radius: 5px;
      }

      .icon.action-icons {
        all: unset;
        color: white;
        opacity: 1;
        filter: brightness(0) invert(1);
        display: flex;
      }
    }

    // Block 85
    .info-block-85 {
      width: 90.41px;
      height: 40.41px;
      display: flex;
      gap: 5px;
      align-items: center;

      .icon {
        width: 40.41px;
        height: 40.41px;
      }

      .text {
        width: 45px;
        height: 19px;
        color: rgba(255, 255, 255, 0.455);
      }
    }

    // Block 63
    .info-block-63 {
      width: 86.41px;
      height: 40.41px;
      display: flex;
      gap: 5px;
      align-items: center;

      .icon {
        width: 40.41px;
        height: 40.41px;
      }

      .text {
        width: 41px;
        height: 19px;
        color: rgba(255, 255, 255, 0.455);
      }
    }

    // Block 34
    .single-icon-34 {
      width: 40.41px;
      height: 40.41px;
      display: flex;
      align-items: center;
      justify-content: center;

      .small-icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  // Right Group 84
  .right-group-84 {
    width: 50.41px;
    height: 50.41px;
    display: flex;
    align-items: center;
    justify-content: center;

    .final-icon {
      width: 30.84px;
      height: 30.84px;
      color: white;
    }
  }
}

.recent-library__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;

  .recent-library__item {
    flex: 0 0 calc(12% - (10px * 7 / 8));
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    background-color: #121212;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      border-radius: 10px;
    }

    .icon-pin {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 18px;
      height: 18px;
      z-index: 2;
      color: white;
      filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  .library-card__info {
    display: flex;
    padding: 5px 0 0 0;
    flex-direction: column;
    color: white;
    font-size: 6px;
    text-align: center;
  }

  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 10px;
      margin: 0;
      color: $light-gray-color;
    }

    span {
      font-size: 10px;
      color: $light-gray-color;
      opacity: 0.7;
    }
  }

  p {
    font-size: 10px;
    color: $light-gray-color;
    opacity: 0.6;
    margin: 2px 0 0 0;
  }

  figcaption {
    color: $light-gray-color;
    font-size: 1.1rem;
    text-align: center;
  }
}

.inner-wrapper-104 {
  display: flex;
  transition: flex-direction 0.3s ease;

  .main-content.is-flipped & {
    flex-direction: row-reverse;
  }
}

.playlist-table-container {
  display: none;
  padding: 20px;
}

.main-content.is-flipped {
  .recent-library__content {
    display: none;
  }

  .playlist-table-container {
    display: block;
  }
}

.icons-block-187.toggle-layout-btn {
  cursor: pointer;
  outline: 2px solid rgba(64, 60, 60, 0.329);
}

.playlist-table-container {
  color: #b3b3b3;
  font-family: sans-serif;

  .table-header,
  .playlist-row {
    display: grid;
    grid-template-columns: 40px 2fr 1fr 50px 50px;
    align-items: center;
    padding: 8px 16px;
    font-size: 13px;
  }

  .table-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .playlist-row {
    border-radius: 4px;
    transition: background 0.2s;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);

      .song-name {
        color: #fff;
      }
    }

    .col-title {
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
      }

      .song-details {
        display: flex;
        flex-direction: column;

        .song-name {
          color: #fff;
          font-weight: 500;
          font-size: 14px;
        }

        .artist-name {
          font-size: 12px;
        }
      }
    }

    .col-heart {
      font-size: 18px;
      filter: grayscale(1);

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

$type-colors: (
  "green": #1ed760,
  "blue": #95e6d3,
  "pink": #f4b8bd,
  "mint": #c3e7b7,
  "lime": #ccf665,
  "yellow": #f9e72c,
  "cyan": #9bf0e2,
);

@each $name, $color in $type-colors {
  .type--#{$name} {
    color: $color;
    opacity: 1;
  }
}

.mobile-header,
.mobile-main {
  display: none;
}

@media screen and (max-width: 390px) {

  .fixed-container-77,
  .main-content {
    display: none;
  }

  .layout {
    display: block;
    padding: 0;
    margin: 0;
  }

  .mobile-header,
  .mobile-main {
    display: block;
    background-color: #060606;
    max-width: 100%;
    width: 100%;
  }

  .search-section {
    display: flex;
    padding: 10px;
    gap: 15px;

    .search-bar {
      flex: 1;
      background: #121212;
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 0 10px;

      input {
        background: transparent;
        border: none;
        color: white;
        padding: 10px;
        width: 100%;
        outline: none;
      }
    }

    .plus-icon {
      background: transparent;
      border: none;

      img {
        width: 25px;
        height: auto;
        opacity: 0.6;
        padding-top: 5px;
      }
    }
  }

  .filter-section {
    display: flex;
    gap: 50px;
    padding: 10px 20px;
    color: white;

    .group-tag,
    .recent-filter {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .mobile-main {
    width: 100%;
    margin: 0;
    max-width: none;

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .accordion-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      border: none;
      border-bottom: 1px solid #1a1a1a;
      color: white;
      font-size: 16px;
      cursor: pointer;
      border-bottom: 1px solid #333333; // 1px solid with a darker shade for better visibility
      padding: 20px;

      img {
        width: 15px;
        opacity: 0.6;
      }
    }
  }
}