@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

ul.nav-buttons {
    @include nav-list(); // column by default (used in aside)

    li {
        border-radius: 10px;
        transition: 0.3s;
        width: 100%;

        &.active,
        &:hover {
            background-color: $tag-bg;

            a,
            form {
                color: $light-gray-color;

                img {
                    opacity: 1;
                }
            }
        }

        a,
        form {
            display: block;
            padding: 10px 100px 10px 20px;
            color: $gray-color;
            transition: 0.3s;
        }

        figure {
            @include flex-align(flex-start, center);
            gap: 15px;

            img {
                opacity: 0.5;
                transition: 0.3s;
            }
        }

        figcaption {
            font-size: 1.4rem;
            letter-spacing: 3%;
        }
    }
}