@use "../abstracts/variables.scss" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    font-family: "Satoshi-Regular", sans-serif;
    font-size: 1.6rem;
    background-color: $dark-bg;
    margin: 0 auto;
    overflow-x: hidden;
}

main {
    position: fixed;
    top: $header-height;
    left: $aside-width;
    right: 0;
    bottom: $footer-height;
    overflow-y: auto;

    section {
        border: 1px solid #202020;
        border-radius: 10px;
        padding: 6px 25px;

        @media screen and (max-width: 390px) {
            width: 390px;
            height: auto;
            padding: 6px 15px;
        }

    }
}